.app.dark {
    --color-background: rgb(27 28 39 / 100%);
    --color-background-75: rgb(27 28 39 / 75%);
    --color-background-50: rgb(27 28 39 / 50%);
    --color-background-25: rgb(27 28 39 / 25%);
    --color-background-10: rgb(27 28 39 / 10%);
    --color-background-5: rgb(27 28 39 / 5%);
    --color-on-background: rgb(208 207 213 / 100%);
    --color-on-background-75: rgb(208 207 213 / 75%);
    --color-on-background-50: rgb(208 207 213 / 50%);
    --color-on-background-25: rgb(208 207 213 / 25%);
    --color-on-background-10: rgb(208 207 213 / 10%);
    --color-on-background-5: rgb(208 207 213 / 5%);
    --color-surface: rgb(40 41 61 / 100%);
    --color-surface-75: rgb(40 41 61 / 75%);
    --color-surface-50: rgb(40 41 61 / 50%);
    --color-surface-25: rgb(40 41 61 / 25%);
    --color-surface-10: rgb(40 41 61 / 10%);
    --color-surface-5: rgb(40 41 61 / 5%);
    --color-on-surface: rgb(235 234 239 / 100%);
    --color-on-surface-75: rgb(235 234 239 / 75%);
    --color-on-surface-50: rgb(235 234 239 / 50%);
    --color-on-surface-25: rgb(235 234 239 / 25%);
    --color-on-surface-10: rgb(235 234 239 / 10%);
    --color-on-surface-5: rgb(235 234 239 / 5%);
    --color-ourline: rgb(94 96 114);
    --color-primary: rgb(15 97 255 / 100%);
    --color-primary-75: rgb(15 97 255 / 75%);
    --color-primary-50: rgb(15 97 255 / 50%);
    --color-primary-25: rgb(15 97 255 / 25%);
    --color-primary-10: rgb(15 97 255 / 10%);
    --color-primary-5: rgb(15 97 255 / 5%);
    --color-on-primary: rgb(255 255 255 / 100%);
    --color-on-primary-75: rgb(255 255 255 / 75%);
    --color-on-primary-50: rgb(255 255 255 / 50%);
    --color-on-primary-25: rgb(255 255 255 / 25%);
    --color-on-primary-10: rgb(255 255 255 / 10%);
    --color-on-primary-5: rgb(255 255 255 / 5%);
    --color-secondary: #ff991f;
    --color-secondary-75: rgb(255 153 31 / 75%);
    --color-secondary-50: rgb(255 153 31 / 50%);
    --color-secondary-25: rgb(255 153 31 / 25%);
    --color-secondary-10: rgb(255 153 31 / 10%);
    --color-secondary-5: rgb(255 153 31 / 5%);
    --color-on-secondary: rgb(255 255 255 / 100%);
    --color-on-secondary-75: rgb(255 255 255 / 75%);
    --color-on-secondary-50: rgb(255 255 255 / 50%);
    --color-on-secondary-25: rgb(255 255 255 / 25%);
    --color-on-secondary-10: rgb(255 255 255 / 10%);
    --color-on-secondary-5: rgb(255 255 255 / 5%);
    --gradient-primary: linear-gradient(270deg, #b176f2 0%, #fac1f1 94%);
    --gradient-secondary: linear-gradient(270deg, #ffc887 0%, #fff1e0 94%);
    --color-error: rgb(255 60 49 / 100%);
    --color-on-error: rgb(255 60 49 / 20%);
    --color-success: rgb(0 158 104 / 100%);
    --color-on-success: rgb(0 158 104 / 20%);
    --color-warning: rgb(255 197 61 / 100%);
    --color-on-warning: rgb(255 197 61 / 20%);
}
