@import "@/app/styles/mixins/mixins";

.tooltip_trigger {
    position: relative;
    display: block;
    width: fit-content;
}

.tooltip {
    width: max-content;
    background-color: var(--color-on-background);
    color: var(--color-background);
    text-align: center;
    border-radius: var(--ui-border-radius);
    position: relative;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.4s;
    pointer-events: none;
    font: var(--font-body-2);

    &:hover {
        opacity: 1;
        pointer-events: all;
    }
}

.tooltip_wrapper {
    position: absolute;
    pointer-events: none;
    display: flex;
}

.tooltip_wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: all;
}

.tooltip_trigger:hover .tooltip {
    opacity: 1;
    pointer-events: all;
}

.tooltip_trigger:hover .tooltip_wrapper {
    pointer-events: all;
}

.right {
    transform: translateY(-50%);
    top: 50%;
    left: 100%;
    justify-content: end;
    width: fit-content;
    padding-left: calc(var(--ui-step) * 3);
}

.arrow_right {
    &::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent var(--color-on-background) transparent transparent;
    }
}

.left {
    transform: translateY(-50%);
    top: 50%;
    right: 100%;
    justify-content: start;
    padding-right: calc(var(--ui-step) * 3);
}

.arrow_left {
    &::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent var(--color-on-background);
    }
}

.top {
    transform: translateX(-50%);
    bottom: 100%;
    left: 50%;
    padding-bottom: calc(var(--ui-step) * 3);
    align-items: start;
}

.arrow_top {
    &::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--color-on-background) transparent transparent transparent;
    }
}

.bottom {
    transform: translateX(-50%);
    top: 100%;
    left: 50%;
    padding-top: calc(var(--ui-step) * 3);
    align-items: end;
}

.arrow_bottom {
    &::after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent var(--color-on-background) transparent;
    }
}
