$mouse-device: "(hover: hover) and (pointer: fine)";
$mouse-device-focus: "(focus: focus) and (pointer: fine)";

@mixin hover {
    @media #{$mouse-device} {
        &:hover {
            @content;
        }
    }
}

@mixin focus {
    @media #{$mouse-device-focus} {
        &:focus {
            @content;
        }
    }
}

$breakPoints: (
    "X-Large": "1400px",
    "Large": "1200px",
    "Medium": "992px",
    "Small": "768px",
    "Extra-small": "576px",
);

@mixin breakPoint($size) {
    @media (max-width: map-get($breakPoints, $size)) {
        @content;
    }
}
