.avatar {
    img {
        border-radius: 50%;
    }
}

.xlg {
    img {
        height: 192px;
        width: 192px;
    }
}

.lg {
    img {
        height: 96px;
        width: 96px;
    }
}

.md {
    img {
        height: 64px;
        width: 64px;
    }
}

.sm {
    img {
        height: 44px;
        width: 44px;
    }
}

.xs {
    img {
        height: 24px;
        width: 24px;
    }
}
